section.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: inherit;
}

article.playlist {
  flex: 1;
  height: 100%;
  min-width: 370px;
  margin: 0;

  img {
    border: 1px solid #eaecef;
    float: right;
    margin-left: 1em;
    width: 50%;
  }
}

.addons-wrap {
  display: none;
}

.content {

  .edit {
    display: none;
  }

  .generator {
    display: none;
  }
}
